/* 
    Created on : 14/11/2015, 00:34:37
    Author     : Eduardo Bado
*/

#topo{
    background-color: #017338;
    color: whitesmoke;
    height: 250px;
}


body {
    position: relative; 
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #015135;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}


.jumbotron {
    margin: 0;
}

#section1 {padding-top:50px;height:600px;color: darkslategray; background-color: whitesmoke;}
#section2 {padding-top:50px;height:500px;color: darkslategray; background-color: whitesmoke;}
#section3 {padding-top:50px;height:500px;color: darkslategray; background-color: whitesmoke;}
#section4 {padding-top:50px;height:600px;color: darkslategray; background-color: whitesmoke;}
#section5 {padding-top:50px;height:500px;color: darkslategray; background-color: whitesmoke;}
#section6 {padding-top:50px;height:650px;color: darkslategray; background-color: whitesmoke;}
#section7 {padding-top:50px;height:700px;color: darkslategray; background-color: whitesmoke;}




/* ----------------------------------------

CARROSEL

--------------------------------------- */


/*----*/

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../img/a12.png') no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
/*-----*/


/* ------------------------------------------ */




  
  *:after, *:before {
    box-sizing: border-box;
}
elemento {
}
.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #FFF;
    border-radius: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
img {
    vertical-align: middle;
}
img {
    border: 0px none;
}
* {
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
body {
    color: #293A46;
}
body {
    font-size: 16px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.6;
}
body {
    font-size: 16px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.6;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}
html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
}

.swag-line:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 5px;
    z-index: 2;
    background: linear-gradient(45deg, #6B15A1, #AC2AA1) repeat scroll 0% 0% transparent;
}


.modal-content {
    margin-top: 50%;
}


/* ------------------------------------------ 

GALERIA

---------------------------------------------------*/


a, a:visited {
    color: #9EB4CA;;
    text-decoration: none;
}

h1, h2, h3, footer, .gallery {
    text-align: center;
}

pre {
    width: 340px;
    margin: 0 auto;
    border: dashed 1px #aaa;
    margin-bottom: 10px;
}

header, footer {
    display: block;
    padding: .2em 0;
    background: #555;
    box-shadow: 0 0 8px #222;
}

footer {
    margin-top: 1.5em;
}

.content {
    max-width: 1160px;
    margin: 0 auto;
}


.gallery img {
    height: 100%;
}

.gallery a {
    width: 240px;
    height: 180px;
    display: inline-block;
    overflow: hidden;
    margin: 4px 6px;
    box-shadow: 0 0 4px -1px #000;
}

h1:after {
    content: '';
    display: block;
    height: 2px;
    margin: .5em 0 1.4em;
    background: 
    
    -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

h1 {
    color: darkslategray;
}

#section6 p {
     color: darkslategrey;
      font-family: arial;
      padding: 5px;
}

 /* Estilizando formulário de contato */
#contactForm h4 {
    color: darkslategray
}